@model Demo_Project.Models.Amenity

<link href="~/css/amenity/edit.css" rel="stylesheet" />
@if (TempData["Success"] != null)
{
    <div class="alert alert-success alert-dismissible fade show">
        @TempData["Success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show">
        @TempData["Error"]
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}

<div class="amenity-container">

    <div class="page-header">

        <div>
            <h2>✏️ Edit Amenity</h2>
            <p>Update facility and service information</p>
        </div>

    </div>

    <div class="amenity-card">

        <form asp-action="Edit" method="post">

            <input type="hidden" asp-for="Id" />

            <div class="mb-4">

                <label asp-for="AmenityName" class="form-label">
                    Amenity Name
                </label>

                <input asp-for="AmenityName"
                       class="form-control custom-input"
                       placeholder="Enter amenity name" required />

               @*  <span asp-validation-for="AmenityName"
                      class="text-danger"></span> *@

            </div>

            <div class="mb-4">

                <label asp-for="Description" class="form-label">
                    Description
                </label>

                <textarea asp-for="Description"
                          rows="5"
                          class="form-control custom-input"
                          placeholder="Enter amenity description" required></textarea>

                <span asp-validation-for="Description"
                      class="text-danger"></span>

            </div>

            <div class="status-box">

                <div class="form-check form-switch">

                    <input asp-for="IsActive"
                           class="form-check-input"
                           role="switch" />

                    <label asp-for="IsActive"
                           class="form-check-label">
                        Active Amenity
                    </label>

                </div>

            </div>

            <div class="action-buttons">

                <button type="submit"
                        class="btn-update">
                    Update Amenity
                </button>

                <a asp-action="Index"
                       class="btn-back">
                    Back
                </a>

            </div>

        </form>

    </div>

</div>